<div class="projects">

    <div class="project-cards">
        <img class="project-cards-img" src="" alt="">
        <h3>Farm Easy</h3>
        <p>E-commerce Platform of<br> the farming products  <button><a href="https://github.com/DurgeshDeore/FarmEasy">github</a></button></p>
    </div>

    <div class="project-cards">
        <img class="project-cards-img" src="" alt="">
        <h3>Calculator</h3>
        <p>An Android Calculator  <button><a href="https://github.com/DurgeshDeore/Calculator">github</a></button></p>
    </div>
    
    <div class="project-cards">
        <img class="project-cards-img" src="" alt="">
        <h3>JustDo</h3>
        <p>Productivity App  <button><a href="https://github.com/DurgeshDeore/JustDo">github</a></button></p>
    </div>

    <div class="project-cards">
        <img class="project-cards-img" src="" alt="">
        <h3>Farm Assist</h3>
        <p>Online Assistant for farmers  <button><a href="https://github.com/DurgeshDeore/Farm-Assist-Project">github</a></button></p>
    </div>

    <div class="project-cards">
        <img class="project-cards-img" src="" alt="">
        <h3>Qr Generator</h3>
        <p>QR Code Generator  <button><a href="https://github.com/DurgeshDeore/Farm-Assist-Project">github</a></button></p>
    </div>


</div>