<div class="contact">
    <div class="contact-card">
        <h2>Contact Me</h2>
        <div class="contact-info">
            <div class="contact-item">
                <img src="" alt="Email">
                <p>
                    Email: <a href='mailto:durgeshdeore9674@gmail.com'>durgeshdeore9674&#64;gmail.com</a>
                  </p>
            </div>
            <div class="contact-item">
                <img src="" alt="Phone">
                <p><a href="tel:+917666946207">+91 766 694 6207</a></p>
            </div>
            <div class="contact-item">
                <img src="" alt="Location">
                <p>Pune, India</p>
            </div>
        </div>
    </div>
</div>